@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-background-color: #F5F5F5;
$second-background-color: #F0FFFF;
$main-text-color: #000000;
$link-color: #191970;
$link-background-color: #6495ED;
$link-active-color: #0000FF;

@mixin home-bg($bg) {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $bg;
  background-size: cover;
  height: 800px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background: $main-background-color;
  font-family: 'Roboto', sans-serif;
  //padding: 0 15px;
  color: $main-text-color;
}

a {
  text-decoration: none;
  color: $link-color
}

.nav {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 60;
  top:0;
  left: 0;
  right: 0;


  &__ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top: none;
    padding: 10px;
  }


  &__link {
    display: inline-block;
    padding: 15px 10px;
    transition: background-color .5s, color .5s;
    border-radius: 5px;

    &:hover {
      background: $link-background-color;
    }
  }

  &__link_active {
    color: $link-active-color;
    background: $link-background-color;
  }
}

.section-title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}


.map {
  width: 80%;
  height: 500px;
  margin: 100px auto;
}

.services {
  margin-top: 74px;
}

.home {

  .home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;

    &__slides {
      z-index: -2;
      background: linear-gradient(180deg, rgba(192,192,192,1) 0%, rgba(211,211,211,1) 35%, rgba(245,245,245,1) 100%); // поборать цвет под текст и картинки одного тона
      width: 100%;
      //height: 100%;
      height: 800px;
      position: absolute;
      &:after {
        position: absolute;
        content: '';
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      li {
        opacity:0;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        //animation: home-slides 18s linear infinite 0s;
        animation: home-slides 24s linear infinite 0s;

        background-size: cover;

        &:after {
          content: '';
          z-index: 10;
          position: absolute;
          top:0;
          right: 0;
          bottom: 0;
          left: 0;
          //background: rgba(0, 0, 0, .1);
        }
      }

      li:nth-child(1) {
        background:url('../img/home/bg-1.jpg') no-repeat;
        background-size: cover ;
      }

      li:nth-child(2) {
        background:url('../img/home/bg-2.jpg');
        background-size: cover;
        //animation-delay: 6.0s;
        animation-delay: 8.0s;
      }

      li:nth-child(3) {
        background:url('../img/home/bg-3.jpg');
        background-size: cover;
        //animation-delay: 12.0s;
        animation-delay: 16.0s;
      }
    }


    &__content {
      //animation: home-description 1.2s linear 1s, home-description-opacity 2s linear 0s;
      animation: home-description-text 1.2s linear 1s, home-description-opacity 2.2s linear 0s;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__description {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .home-benefits {
    margin-top: 100px;

    &__list {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      margin-top: 20px;
    }


    &__description {
      margin-top: 20px;
    }
  }

  .home-services {
    margin-top: 100px;
    background: $second-background-color;

    &__list {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      gap:50px 5%;
    }

    &__item {
      position: relative;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      border: 1px gray solid;
    }

    &__icon {
      width: 100%;
      height: auto;
    }

    &__title {
      a {
        color: $main-text-color;
        display: block;
        width: 100%;
      }
    }

    &__title, &__shot-description, &__price {
      padding: 0 10px;
    }

    &__title, &__shot-description{
      margin-top: 20px;
    }

    &__shot-description {
      margin-bottom: 55px;
    }

    &__price {
      position: absolute;
      bottom: 10px;
    }
  }
}

.services {
  &__nav-list {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px blue solid;
    margin-top: 30px;
  }

  &__select-title {
    //border: 1px blue solid;
    margin-right: 30px;
  }

  .service {
    border:  1px gray solid;
    border-radius: 10px;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 15px;
    display: flex;

    &__flex-container:nth-child(1) {
      flex-basis: 40%;
    }

    &__flex-container:nth-child(2) {
      flex-basis: 60%;
      padding-left: 30px;
    }

    &__icon {
      max-width: 100%;
      height: auto;
    }

    &__title {
      text-align: center;
    }

    &__info-item {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      span {
        font-weight: 500;
        flex-basis: 20%;
      }

      p {
        flex-basis: 75%;
      }
    }

    &__description {
      text-indent: 20px;
      line-height: 30px;
    }
  }

  &__list {
    padding-bottom: 100px;
  }


}

@keyframes home-slides {
  0% {opacity:0;}
  6% {opacity:1;}
  24% {opacity:1;}
  30% {opacity:0;}
  100% {opacity:0;}
}

@keyframes home-description-text {
  0%{
    margin-top: 100px;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes home-description-opacity {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

